body {
  margin: 0;
  background-color: white;
}

header {
  background-color: #f9fafb;
   border-bottom: 1px solid #e5e4e2;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
.links a {
  margin-left: 6px;
  text-decoration: none;
  color: #353935;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: blue;
  color: white;
}

.hero {
  text-align: center;
  padding: 2rem;
}

.me{
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}
.btm{
    background-color: white;
  padding: 1rem;
  border: 1px solid #e5e4e2;
  width: 25%;
  border-radius: 8px;
}

footer{
    background-color: #eef2f7;
    text-align: center;
    padding: 1rem;
}